@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

.button-add {
  margin-right: 8px;
}

.component-size{
  font-size: 14px;
}

.upload-image {
  border: 1px solid steelblue;
}

.toggle-pointer {
  cursor: pointer;
}

.button-action {
  border: none;
  padding: 6px 8px;
  margin-right: 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

